<footer class="footer theme-bg-primary">
    <div class="container py-5">

        <h1 class="site-logo text-center"><img class="logo-icon" src="{{{global.img_logo_footer}}}" alt="logo"></h1>

        <ul class="social-list list-unstyled mb-0 text-center">
            {{#global.social.twitter.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.twitter.link}}}"><i class="fab fa-twitter fa-fw"></i></a></li>
            {{/global.social.twitter.show_or_hide}}
            
            {{#global.social.facebook.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.facebook.link}}}"><i class="fab fa-facebook fa-fw"></i></a></li>
            {{/global.social.facebook.show_or_hide}}
            
            {{#global.social.instagram.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.instagram.link}}}"><i class="fab fa-instagram fa-fw"></i></a></li>
            {{/global.social.instagram.show_or_hide}}

            {{#global.social.linkedin.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.linkedin.link}}}"><i class="fab fa-linkedin fa-fw"></i></a></li>
            {{/global.social.linkedin.show_or_hide}}
            
            {{#global.social.youtube.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.youtube.link}}}"><i class="fab fa-youtube fa-fw"></i></a></li>
            {{/global.social.youtube.show_or_hide}}
            
            {{#global.social.github.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.github.link}}}"><i class="fab fa-github fa-fw"></i></a></li>
            {{/global.social.github.show_or_hide}}

            {{#global.social.dribbble.show_or_hide}}
            <li class="list-inline-item"><a href="{{{global.social.dribbble.link}}}"><i class="fab fa-dribbble fa-fw"></i></a></li>
            {{/global.social.dribbble.show_or_hide}}
            
        </ul><!--//social-list-->

        <div class="footer-bottom text-center pt-5">
	        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
	    </div>

        <p class="text-center vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/0u0E-1J6w6okmzpajFeH2btp59nGXedHwy7wnbP0kFSAT_8gZ7CUpjdh0jq7HNGvKAUhgx4uO3tr6DJ6IbhC_tBAgQ"/></a></p>
        
    </div><!--//container-->
    
</footer>